body {
  margin: auto;
  max-width: 600px;
  text-align: center; 
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 10px;
  }
}

.select-title{
 width: 95%;
  text-align: center;
  font-size: 18px;
}

.select-wrapper {
 width: 95%;
  margin-top: 50px;
  font-size : 18px;
  text-align: center;
}


  form {
    width: 100%; /* フォームのを指定する */
    padding: 10px;      /* フォームの余白を指定する */
    margin: 0 auto;

  }
  select {
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;      /* ベンダープレフィックス(Firefox用) */
    appearance: none;   /* 標準のスタイルを無効にする */
    cursor: pointer;    /* マウスカーソルの形を指定する */
    width: 95%; /* ボックスの幅を指定する */
    height: 64px;
    padding: 10px 15px; /* ボックス内側の余白を指定する */
    color: #da3c41;     /* フォントの色を指定 */
    background-color: white;
    /*font-size: 18px;*/
   font-size: 18px;
    border: 6px solid #da3c41;/* ボックスの境界線を実線で指定する */
    border-radius: 10px;        /* 角丸を指定する */
    margin: 5px 0 10px 0;
  }
  ::-ms-expand {        /* select要素のデザインを無効にする（IE用） */
    display: none;
  }

.btn-wrapper {
 width: 95%;
   font-size: 18px;
  text-align: center;
}

.btn {
  width: 95%;
  padding :10px 0px;
  display :inline-block;
  text-decoration: none;
    /*font-size: 18px;*/
   font-size: 18px;
}

.resistration{
  width: 95%;
  border : 6px solid #2970cc;
  color : #2970cc;
  background-color: white;
  border-radius: 10px;
}

.resistration:hover{
  color: white;
  background-color: #2970cc;
  border-radius: 10px;
}

